@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
  background-color: #222222;
  font-size: 2rem;
  font-family:'Oswald';
  color:#ffffff;
  margin:30px;
}
