.todoForm {
    width: 100%;
    
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px ;
    grid-gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.todoForm > div{    
    
}

.todoForm >:nth-child(2){
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* grid-gap: 5px;     */
    align-items: flex-start;   
    /* background-color: crimson; */
}
.todoForm >:nth-child(2)>button{
    /* grid-column: 1; */
    /* height: 40px; */
    margin-left: 5px;
    border:solid #777777 1px;

}
.todoForm >:nth-child(1){
    grid-column:span 4;
}


